

<% layout('/layouts/boilerplate') %>
<body>
   
    <div class="row" >
<div class="col-6 offset-3">

 <h2 class="mt-2"> Creat Your New Listing</h2>
 
    <form method="post"  action="/listings">
        <div class="mb-2">
               <label for="title" class="form-label"> Title </label>
               <input type="text" placeholder="enter your title" name="listing[title] " class="form-control">
        </div>
       
          <div class="mb-2">
            <label for="discription" class="form-label"> Discription </label>
            <textarea type="text"  name="listing[discription]"  class="form-control">enter your discription.. </textarea>
          </div>


          <div class="mb-2">
             <label for="image-filename" class="form-label"> Image-file-Name </label>
           <input type="text" placeholder="Enter your image filename" name="listing[image][filename]" class="form-control">

          </div>
        
                <div class="mb-2">
                            
                            <label for="image-url" class="form-label"> Image-URL </label>
                            <input type="text" placeholder="Enter your image URL/link" name="listing[image][url]" class="form-control"> 

                </div>

    <div class="row">
               
           <div class="mb-2 col-5" >
                       
                      <label for="price" class="form-label"> Price </label>
                      <input type="number" placeholder="enter your price" name="listing[price]" class="form-control">

                </div>
         
            <div class="mb-2 col-7">
                  <label for="location" class="form-label"> Location </label>
              <input type="text" placeholder="enter your location" name="listing[location]" class="form-control">

            </div>

    </div>
            <div class="mb-2">

                <label for="country" class="form-label"> Country </label>
                  <input type="text" placeholder="enter your country" name="listing[country]" class="form-control">
            </div>
            
          <button class="btn btn-dark  add-btn">add listing </button>
          <br><br>
       </form>
</div> 
    </div>
  
          
   
</body>
