

<% layout('/layouts/boilerplate') %>
<body>
   
    <div class="row" >
<div class="col-6 offset-3">

 <h2 class="mt-2"> Creat Your New Listing</h2>
 
    <form method="post"  action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="mb-2">
               <label for="title" class="form-label"> Title </label>
               <input type="text" placeholder="enter your title" name="listing[title]" class="form-control" required>
                 <div class="valid-feedback"> looking good !</div>
        </div>
       
          <div class="mb-2">
            <label for="discription" class="form-label"> Discription </label>
            <textarea type="text"  name="listing[discription]"  class="form-control" required>enter your discription.. </textarea>
              <div class="invalid-feedback"> discription should be valid and correct !</div>
          </div>


    

           <div class="mb-2">
              <label for="image" class="form-label"> Upload Listing Image  </label>
              <input type="file"  value=""  name="listing[image]" class="form-control" required>
           </div>

      <div class="row">
               
           <div class="mb-2 col-5" >
                       
                      <label for="price" class="form-label"> Price </label>
                      <input type="number" placeholder="enter your price" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback"> price should be valid and correct !</div>

                </div>
         
            <div class="mb-2 col-7">
                  <label for="location" class="form-label"> Location </label>
              <input type="text" placeholder="enter your location" name="listing[location]" class="form-control" required>
                <div class="invalid-feedback">   location should be valid and correct !</div>

            </div>

    </div>
            <div class="mb-2">

                <label for="country" class="form-label"> Country </label>
                  <input type="text" placeholder="enter your country" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback"> country should be valid and correct !</div>
            </div>
            
          <button class="btn btn-dark  add-btn">add listing </button>
          <br><br>
       </form>
</div> 
    </div>
  
          
   
</body>
