
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* allow natural growth */
}

.container {
    flex: 1;
}

.navbar {
    background-color: white !important;
    color: #000 !important;
    font-weight: 700 !important;
    z-index: 1050 !important;
    position: sticky; /* Ensure stickiness */
    top: 0; /* Required for sticky */
}

.nav-link {
    color: #000 !important;
    font-weight: 600 !important;
}

 
/***************** footer *************************** */

.f-footer{
    display: flex;
    height: 7.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ececec;
    font-size: 1rem;
    color: #000;
}
/* i{
    height: 4rem;
} */
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.5rem;
}

.f-info-socials  {
justify-content: center;
 text-align: center;
width:100%;
/* vertical-align:middle; */

}

.f-info-brand{
    display: flex;
width:100%;
justify-content: center;
align-content: center;
/* align-self:center; */
}

.f-info-links a{
  text-decoration: none;
   color: #000;
}
.f-info-links a:hover{
text-decoration: underline;
color: blue;
}
/* ***************cards******************** */
.listing-card{
    /* margin-top: .5rem !important; */
 border: none !important;
 margin-bottom: 2rem !important;
 color: #000 !important;
 width: 100% !important;
}

.card-img-top{
border-radius: 1rem !important;
width: 100% !important;
object-fit: cover !important;
}
.card-body{
    padding: 0px !important;
}
.card-body p{
    font-weight: 400 !important;
}
.listing-links{
    text-decoration: none;
}
/***************************** card-effect************************* */
.card-img-overlay{
    opacity: 0;
  
}

.card-img-overlay:hover{
    
    opacity: 0.2;
    background-color: white;
}

/* ************ new page ************* */
.add-btn{
    background-color:#fe424d !important;
    border:none !;
}

/* **** *********************** show card details************** */
.show-card{
    height: 40vh;
}

.show-btn{
    display: flex;
}
.show-listing{
    font-weight: 600;
}
/* *************** reviewsCars style************** */
.reveiwsCards{
    border: 2px,solid lightslategray !important;
}